[2017-06-20 15:11] LordStephen77 opened #1 "Main menu fixing and various enhancements"
**AKryukov92** Has corrected and improved the code structure for the game main menu. He did a great job. Now it is also possible to cross the trees without the player's block, making map exploration easier.

Find the link to the executable .jar in the project repository (README.md).

[2017-06-20 15:23] tobyplowy opened #2 "conversation"
This is a place to Talk About different things like Graphics, ideas, improvements, or changes
(whatever realy) just try to keep the offtopic minimal ok :)

[2017-06-20 15:43] LordStephen77 commented on #2
@tobyplowy Yes, it's a good idea. I am very busy with the work these days, now that I have created the organization and added you as official members you can handle it all quietly. Continue with the website, it's public and you need to set it up well. Thank you.

[2017-06-20 16:43] AKryukov92 commented on #2
I can't find a link to website you are talking about. Is it published in internet?

[2017-06-20 16:56] LordStephen77 commented on #2
@AKryukov92 https://dreamblocks.github.io/ Apparently github publishes it automatically by recognizing the repository name (mywebsite.github.io). There is a link to the organization's home page (top below the project title).

[2017-06-20 17:28] AKryukov92 opened #3 "Missing dependencies in gradle"
At version 0f22fe3, I can't run the project because of missing dependencies in gradle.

[2017-06-20 17:31] AKryukov92 commented on #3
Currently I have problems pushing changes to this repository.
Error message says: `Failed with error: fatal: unable to access 'https://github.com/DreamBlocks/DreamBlocks.git/': The requested URL returned error: 403`
I assume @LordStephen77 should configure access.

[2017-06-20 17:41] LordStephen77 commented on #3
@AKryukov92 You are much better than me with github and gradle. I've seen you're solving dependencies in Grande. It would be useful for a small docs where we note these things, as well as always comment on the code as much as possible. I want to make the project accessible to students, hobbyists, anyone with a minimum of knowledge in java. Thank you so much for your precious contribution.

[2017-06-20 17:52] tobyplowy commented on #2
@LordStephen77 You should make a development road map So contributers know what to work on so they Don't get in each others way also say what shuld be worked on first and what after that

[2017-06-20 18:07] AKryukov92 commented on #3
I think it is better to ask questions. I don't know what it unclear to you.
Gradle has good documentation regarding solving dependencies. I just opened it and followed the instructions.

[2017-06-20 18:09] LordStephen77 commented on #3
Yes, for this use Gradle. But I've been out here for a few hours, and I did not have time to control everything. Thanks for your help. It draws my distraction from fatigue. Thanks so much.

[2017-06-20 18:34] AKryukov92 commented on #3
You are welcome

[2017-06-20 18:40] AKryukov92 commented on #2
I agree with @tobyplowy. We need a backlog, filled with small tasks.
I'll add a number of simple tasks based on current codebase and slowly start to implement them.
But I will not add tasks about features. It is up to @LordStephen77 .

[2017-06-20 18:44] LordStephen77 commented on #2
it's a good idea. As soon as I get free from work I sort out the little wiki I'm writing, then the audience in the wiki of the project.

@AKryukov92 is enough to comment on the code you are writing. You can make any changes you like, feel free to work on this project as you believe it best. DreamBlocks is everyone, even yours!

[2017-06-20 18:46] AKryukov92 opened #5 "Split code in game loop to several methods"
At revision be761e9, body of loop in method gameLoop() of src/main/java/com/lgs/dreamblocks/MainGame.java is 191 line long.
Code inside it should be split to several methods.
I expect all those methods will be members of MainGame class, but it is not mandatory.
All methods should be named properly in English.

[2017-06-20 18:56] AKryukov92 opened #6 "Get rid of static field StockMethods.onScreen"
At revision be761e9, class StockMethods.onScreen is public and static. It has hidden dependency to method StockMethods.computeDrawLocationInPlace, which should be called directly before using field StockMethods.onScreen.
This dependency should be clear. I expect that method StockMethods.computeDrawLocationInPlace shoud return onScreen value alongside with x and y.
Maybe Int2 class will be changed

[2017-06-20 19:02] AKryukov92 opened #7 "Split startGame to several methods"
At revision be761e9, method MainGame.startGame takes first parameter as boolean value. It is called 3 times with explicit values "true" or "false". Probably there should be two methods. One for each value of parameter.
I expect that all common content of method mainGame.startGame will be moved to new method with appropriate name.

[2017-06-20 19:24] AKryukov92 opened #8 "Make TileStore"
At revision be761e9, information about tiles stored in static collection of class Constants.
We already has SpriteStore, so TileStore seems to be consistent way for storing content.
For the moment it doesnt need to be implement as children of abstract class.
Class with apropriate methods for accessing tiles information will be enough.

[2017-06-20 19:38] AKryukov92 opened #9 "SpriteStore should be singletone XOR abstract class"
If class is abstract, then it is can have multiple childrens. Assuming that singletone should be instantiated only once, then this situation doesn't make sense.
In addition AwtSpriteStore has public constructor which ruins the idea of singletonius SpriteStore.
I think of several solutions of this problem:
1. Do not use Singletone pattern, instantiate SpriteStore in main(String[] args) and pass its

[2017-06-20 19:54] AKryukov92 commented on #3
Dependencies are in list, but it still fails to compile with gradle. I'm wondering why it did 2 hours ago.

[2017-06-20 20:29] AKryukov92 commented on #3
Timer and ogg player were declared as local file dependencies, but they were ignored and not commited.
Thats why project failed to compile.

[2017-06-20 20:29] AKryukov92 commented on #3
Somebody else please check: if everything OK now. if it is, then close issue, please.

[2017-06-20 20:54] LordStephen77 commented on #2
new chat gitter.im:

https://gitter.im/LordStephen77/Lobby

Here we can talk in our dedicated project space, so we keep ordering the official repository without the need to open 100 issues.

Thank you all.

[2017-06-20 21:42] LordStephen77 commented on #9
This project was born as a study material, initially it was much simpler.

I've read everything and what I see you know about Java. I would opt for the second option, what do you suggest to do? It would be best to divide the code into multiple classes by avoiding single classes with 1000 and over lines of code (for ease of reading and editing).

I did my best to make the project simple, so my choi

[2017-06-20 22:03] LordStephen77 commented on #3
I accepted the commit. It seems all right now. I close.

[2017-06-20 22:04] #3 closed, assigned to nobody

[2017-06-21 01:53] Gerold55 opened #11 "Alpha Builds"
Would it be possible to make it so after a week or so an alpha build is built and ready to play so the people that can't build it themselves can test it?

[2017-06-21 03:22] LordStephen77 commented on #11
@Gerold55 The new version is available in the project's readme.md link. In short, I will open the release section with changelog included. Builds (.jar executables) will be released each time we add new content and enhancements.

We use gitter chat for these conversations.

Gerold55 I'm working on the official site now, it needs a first complete template with all the information and links. I'll po

[2017-06-21 03:25] Gerold55 commented on #11
Should there be a YT channel for the game so that people can see what's added and what the gameplay is like?

[2017-06-21 05:42] AKryukov92 commented on #9
You did a great job making first step. You don't look too beginner for me. You understand basic concepts and use them. I like the idea of keeping this project a study material. Thats why I explain those issues here. It is important that everyone understand why any change has been made.

Class with 1000 lines of code is not bad if it is used for single purpose (cohensive). But when you feel, that c

[2017-06-21 06:57] AKryukov92 opened #12 "Split Inventory.updateInventory to several methods"
At version 42639a5, method Inventory.updateInventory contains a lot of conditions and loops and 141 line long. I think it should be split to several methods.
I expect all those methods will be a members of Inventory class but it is not mandatory.
All methods should be named properly in english.

[2017-06-21 07:13] AKryukov92 opened #13 "Sprite should not draw itself"
At version 42639a5 class Sprite contains method draw, which takes GraphicHandler as argument and some drawing parameters.
This approach led to passing GraphicsHandler to every drawing function. In the end, GraphicsHandler will do drawing, not the Sprite.
I think that method 'draw' should be moved to GraphicsHandler class. It should take Sprite as argument.

There are some special cases with Invent

[2017-06-21 08:35] Gerold55 opened #14 "Menu"
When making screen big screen it moves the heart to the center of the logo.

[2017-06-21 08:36] Gerold55 commented on #14
I would like to try and develop a new background for the menu also if that's alright with you.

[2017-06-21 08:45] Gerold55 opened #15 "Water"
You can jump on water and you won't be able to sink.

[2017-06-21 08:46] Gerold55 opened #16 "More Variety Of Trees"
Apple Trees
Banana Trees
Peach Trees

[2017-06-21 10:45] AKryukov92 commented on #15
Did you mean "jump over surface of water" or "jump in the depth of water"?
If 1 it is unlikely a bug, though I don't like idea of jumping in water like dolphin.
If 2 it IS a bug and should be fixed.

[2017-06-21 11:18] Gerold55 commented on #15
When you jump you're not sinking right away so it appears you're walking on waterish when jumping

[2017-06-21 14:38] LordStephen77 commented on #11
@Gerold55 Is one of the things I work for. We prepare all the material on the floor. The project is new and takes time to complete. The Youtube channel I just prepare for it is the official site, and the game engine 2d (framework) I've prepared to simplify game development.

[2017-06-21 14:41] LordStephen77 commented on #16
@Gerold55 Even the troll tree :+1:

I have already thought about adding new vegetation. First, you have to define the engine, then add new things :D

[2017-06-21 15:36] LordStephen77 commented on #15
@AKryukov92 It's not a bug, it's a feature I wanted! It is also useful to jump on the blocks when you find the ground while swimming at sea.

[2017-06-21 16:03] LordStephen77 opened #17 "SGL2D (Simple Game Library 2D)"
To solve the old addictions of the game, I have been working on a small framework for writing 2D games written in Java for some time. This library is a collection of optimized and redefined code snippets for JDK 8. SGL2D (Simple Game Library 2D) is a very simple framework that works as a wrapper with the standard Java library. Does not use any external dependence! and not even JavaFX.

I'm going t

[2017-06-21 16:17] AKryukov92 commented on #17
I don't understand why you opened this issue.
Do you want to migrate DreamBlocks to SGL2D? Or do you just want to promote it?

[2017-06-21 16:27] LordStephen77 commented on #17
@AKryukov92 I was going to show it to decide if it's a good idea to integrate SGL2D into the DreamBlocks project. Simplifies procedures such as image, sound management, and more. I have to work on it, but I think it will be useful.

I wanted your personal opinion. If you are interested, if you find a good choice. I'm not a professional programmer, and I love the standard Java library. For this rea

[2017-06-21 16:37] AKryukov92 commented on #17
I'm asking because I need this project as it is written at this moment. It is quite messy, thats why it is perfect educational material for students, who needs practice with java. It will take a lot of effort to write bad code for me. It is possible to formulate simple tasks to implement. And those tasks will not require detailed studying of codebase. I have already showed repository to two of my

[2017-06-21 16:47] LordStephen77 commented on #17
@AKryukov92 I had no doubt you were a university professor! I understand it immediately by reading what you are writing and the code that you made. Your answer was very satisfying, I have a lot to learn from you.

At this time, the priority is to fix the main bugs, improve game play (inventory, hotbar).

These days I have a lot of work, but I want to test the splash screen and the new experimental

[2017-06-21 17:39] AKryukov92 opened #18 "Make Hotbar as separate class"
At version 42639a5 class Inventory is responsible for management content of inventory and for drawing its content to screen in two modes: inventory management mode and hotbar.
All these responsibilities should be split to several classes.
Hotbar is one of them.
I think it should contain:
* tracking of "current" item
* pixel math, used to display it on main screen

I'm going to implement hotbar by

[2017-06-21 18:33] AKryukov92 commented on #18
@LordStephen77 please review my code and tell me if I missed something.

[2017-06-21 19:58] #17 closed, assigned to nobody

[2017-06-22 15:31] SonyaSitnikova commented on #5
При пересмотре be761e9 тело цикла в методе gameLoop () из src/main/java/com/lgs/dreamblocks/ MainGame.java имеет длину 191 строка.
Код внутри него должен быть разделен на несколько методов.
Я ожидаю, что все эти методы будут членами класса MainGame, но это не обязательно.
Все методы должны быть правильно названы на английском языке.

[2017-06-22 15:32] SonyaSitnikova commented on #12
В версии 42639a5 метод Inventory.updateInventory содержит множество условий и циклов и длину 141 строка. Я думаю, что он должен быть разделен на несколько методов.
Я ожидаю, что все эти методы будут членами класса Inventory, но это не обязательно.
Все методы должны быть правильно названы на английском языке.

[2017-06-22 17:28] #1 closed, assigned to nobody

[2017-06-22 18:17] tobyplowy commented on #16
what about

palm trees
pink blossem trees
and pine trees

[2017-06-22 18:20] tobyplowy opened #20 "can a launcher be added"
we all know hat a launcher does so no need to explane

[2017-06-22 19:15] AKryukov92 commented on #20
I do know what launcher is, but I don't understand why it needs to be implemented.
Explain your proposal, please.

[2017-06-22 19:19] tobyplowy commented on #20
Well it's an easier way to update the game instead of having to re install the jar a hundred times

[2017-06-22 19:20] tobyplowy commented on #20
Also it can be used for news in development of the game

[2017-06-22 20:07] AKryukov92 commented on #20
I think it is possible to make a script (batch or shell), which will check directory in google drive and download file, if the game were updated, and then run the game after that.
But there is not much news to publish. Website should manage it.

[2017-06-22 20:09] tobyplowy commented on #20
Not yet

[2017-06-22 20:22] AKryukov92 commented on #20
First of all, I don't have time and skills to prepare news. I'd like to stay with coding.
If someone starts to produce news about project, it will be great.
But I think that website or facebook group or twitter channel or any other social network public page will do the job of delivering news much better than launcher.
People don't need to download facebook, right?

[2017-06-22 20:25] tobyplowy commented on #20
Ok you are right

[2017-06-22 20:25] #20 closed, assigned to nobody

[2017-06-22 20:30] AKryukov92 commented on #16
To add a tree to the game, one need to draw some sprites:
* trunk
* leaves
* sapling

I am not good in painting, so I ask you guys for help.
I think it isn't hard to add a tree.

[2017-06-22 20:31] tobyplowy commented on #16
@AKryukov92 yeh you can count on me :)

[2017-06-23 00:00] Gerold55 commented on #16
There's endless ideas for different trees but how many biomes do you plan on having?

[2017-06-23 05:55] AKryukov92 commented on #16
There is no "biomes" in the game at this moment.
Implementing biomes is not a simple task. It will take some time.
And without detailed description, it is impossible to implement them at all.

So if you want biomes, you need to describe them. Start with something, I'll ask additional questions later.

[2017-06-23 05:59] Gerold55 commented on #16
A plains biome with fruit trees and minimal hills

[2017-06-23 06:00] AKryukov92 commented on #16
What is hill in terms of this game? What is its difference from plain?

[2017-06-23 06:02] Gerold55 commented on #16
Plains as in trees flowers some water areas how high up the ground spawns as in the height compared 2 a normal spawn area

[2017-06-23 06:04] Gerold55 commented on #16
So for a certain hill it would be only 10 blocks at its highest point while a hill in the hills biome could be as tall as 20 blocks

[2017-06-23 06:06] AKryukov92 commented on #16
How much is "some water"?
How much trees is supposed to be there?

[2017-06-23 06:11] Gerold55 commented on #16
for the plains it would be trees here and there ex: 10 trees.
for the forests there would be a definite increase of trees ex: 30 trees.

[2017-06-23 06:11] Gerold55 commented on #16
for water there should be a couple of ponds here and there

[2017-06-23 06:14] AKryukov92 commented on #16
What width of biome do you expect?
10 trees in biome 50 blocks wide is much more than 30 trees in biome 300 block wide.

[2017-06-23 06:16] Gerold55 commented on #16
It all depends on the distance you want the area to be so if you had 100-300 blocks there would be 10 trees in that biome (plains)
If you had a biome which is 100-300 blocks there would be 30 or more trees (forest)

[2017-06-23 06:17] Gerold55 commented on #16
I'll design a proof of concept in a minute

[2017-06-23 06:34] Gerold55 commented on #16
![concept](https://user-images.githubusercontent.com/13843095/27469261-7f80aa9e-57bc-11e7-93b5-78eda068dd56.png)

[2017-06-23 07:56] #18 closed, assigned to nobody

[2017-06-23 10:03] SonyaSitnikova commented on #13
По версии 42639a5 класса Sprite содержит метод Draw, который принимает GraphicHandler в качестве аргумента и некоторые параметры отображения. Этот подход привел к прохождению GraphicsHandler к каждой функции рисования. В конце концов, GraphicsHandler сделаем чертеж, а не спрайт. Я думаю, что метод "нарисовать" должны быть перемещены в GraphicsHandler класс. Надо взять спрайт в качестве аргумента.

[2017-06-23 17:54] AKryukov92 opened #21 "Make inventory dialog as separate class"
At version 3c582dc class Inventory is responsible for management content of inventory and for drawing its content to screen.
In addition, inventory screen has different modes:
* player inventory
* crafting table
There will be another modes. Probably chest, furnace and so on.
I'm thinking about making multiple classes without any connections. Probably they will implement single interface or inherit

[2017-06-23 18:26] AKryukov92 commented on #21
During the process, I found that crafting grid and "backpack" are in the same data structure. It results in overwhelming complexity of all inventory methods. I think I should split crafting grid and backpack too.

[2017-06-23 18:46] AKryukov92 commented on #5
I have checked this. Everything seems to be OK.

[2017-06-23 18:46] #5 closed, assigned to nobody

[2017-06-23 20:38] AKryukov92 commented on #21
Blocked by #12 at this moment.

[2017-06-24 09:26] RodrigueLemaire commented on #15
it looks broken...

[2017-06-24 09:27] RodrigueLemaire commented on #12
@SonyaSitnikova please write in english or use reverso.net

[2017-06-24 12:15] AKryukov92 commented on #12
@azekillDIABLO It was a translation of initial message to our native language.

[2017-06-24 12:28] AKryukov92 opened #24 "Use inventory visual layout made by @tobyplowy"
Follow this link to see layout
https://files.gitter.im/LordStephen77/Lobby/iGfL/Screenshot-_33_.png
Right now there are no armor slots, so they should not be drawn.

@tobyplowy please tell how do you made title "INVENTORY". Which font is used? If it is just a picture, could you add it to this thread?

[2017-06-24 12:59] AKryukov92 commented on #12
I'm going to implement it in nearest future.

[2017-06-24 13:45] LordStephen77 commented on #24
Right! Guys always make notes about the realization of your work. It is useful to create doc for the project and follow a linear workflow.

[2017-06-24 13:57] tobyplowy commented on #24
@AKryukov92 The font is Made Up By Me (I made it myself) I've Been using it for the whole 7 Years I have been doing pixelart :)
I can give you a picture of the whole alfabet if you whant

[2017-06-24 13:59] tobyplowy commented on #24
@LordStephen77 I'm not really sure what you mean by that

Do you mean we should plan out everything before we do?

[2017-06-24 14:05] AKryukov92 commented on #24
@tobyplowy Of course we need whole alphabet.

@LordStephen77 probably meant that any change in repository should be made as a result of the task.
Git automatically assigns numbers for each task. When you commit, you type number of the task alongside with commit description. It allows for git to display commits in the issue threads.
See example here https://github.com/DreamBlocks/DreamBlocks/issues

[2017-06-24 14:06] tobyplowy commented on #24
@AKryukov92 ok sorry

Ok thanks for explaining

[2017-06-24 14:07] AKryukov92 commented on #24
I think that best place for images is Dreamblocks/res/sprites/alphabet
There should be only one letter per sprite

[2017-06-24 14:09] tobyplowy commented on #24
I don't know how to make pull requests

[2017-06-24 14:28] AKryukov92 opened #25 "2x2 recipe identified with redundant resources in grid"
On the picture you can see crafting grid with three planks.
![image](https://user-images.githubusercontent.com/24266616/27509260-807361d0-591a-11e7-9ba0-4d9835dce457.png)
Game identified this recipe as recipe of sticks.
I think we'll get all kinds of troubles when we add more 2x2 recipes.
Assuming that template comparison process is very complicated, at this moment I file a report for future fix.

[2017-06-24 14:31] AKryukov92 commented on #24
You need to:
* fork this project
* make branch in your fork
* commit changes to your fork
* submit pull request

Detailed explanation is here https://help.github.com/categories/collaborating-with-issues-and-pull-requests/

[2017-06-24 14:32] LordStephen77 commented on #24
@tobyplowy Write the technique you use to create content, type of font used (name), small nights that help future collaborators understand what we did.

[2017-06-24 14:52] tobyplowy commented on #24
@AKryukov92 I think I did it

[2017-06-24 14:57] LordStephen77 commented on #25
@AKryukov92 Yes you are right. Unfortunately inventory classes, hotbar, I did not write them. They are very complicated classes because they design the ui by code, they would be allegory by applying images to better manage inventory and hotbar.

Same thing for crafting! My idea is to imitate Minetest crafting schemes. Obviously, creating a new "com.lordstephen77.dreamblocks.craftingsystem" package

[2017-06-24 15:02] AKryukov92 commented on #24
@tobyplowy Thats a good start.
At this moment, I think it will be difficult to extract characters from this file programmatically.
Can you add description file. It should contain multiple rows. One row per character.
In each row you need to write letter, its x and y coordinates (in pixels) on the picture, width and height. Values should be separated by ";"
Something like
[code]

[2017-06-24 15:11] tobyplowy commented on #24
i made the toolbar easier to see
![screenshot-_33_](https://user-images.githubusercontent.com/16853304/27509546-ee930ec4-58ff-11e7-8f6d-d72c32896173.png)

[2017-06-24 15:13] tobyplowy commented on #24
oh god i dount really have the time for that :/
maybe making all letters and mumbers a separit picture is fasterer and better?

[2017-06-24 15:27] AKryukov92 commented on #24
Letters and numbers in separate pictures are good option too.
For letters, which can't be used in filenames, use html entities like `&#8725;` for '\\'

[2017-06-24 15:57] tobyplowy commented on #24
@AKryukov92 no I mean make each letter and number an new picture

This will make adding more letters and simbols easyer

[2017-06-24 15:59] tobyplowy commented on #24
@AKryukov92 or maybe we should just use a font file .ttf (pixelmix is nice but I don't know if the licence allows this kind of use)

[2017-06-24 16:07] #12 closed, assigned to nobody

[2017-06-24 18:54] AKryukov92 opened #29 "Make Crafting grid as separate class"
Class Inventory now has a lot of methods and fields, related to Crafting grid.
It seems it should be moved to separate class.

[2017-06-24 19:59] AKryukov92 opened #31 "Make InventorySlot as separate class"
There are a lof ot pixel math involved with operations on inventory items.
* Inventory should compute their bounds on each redraw.
* To check if mouse is pointing to specific inventory item, Inventory should compute its bounds again.
And there are a lot of methods, which operate only on one slot.
Probably whole handling of clicks on inventory slots should be moved to InventorySlot.

[2017-06-25 06:52] SonyaSitnikova commented on #31
translation into Russian language

[2017-06-25 13:39] tobyplowy commented on #14
@LordStephen77 ping

[2017-06-25 13:41] tobyplowy commented on #24
@AKryukov92 shuld we go with a font file (.ttf) @LordStephen77 approves this idea

[2017-06-25 13:45] tobyplowy opened #32 "Esc menu"
If you press esc now it quits the game
A menu shuld popup and have a copple options
Like

Resume game (closes the esc menu)
Options (opens options for sound Graphics and so on)
quit game (go's to desktop)
quit to menu (title screen)

[2017-06-25 13:46] tobyplowy commented on #32
@LordStephen77 I think this should be done early in development
I whant this soon

[2017-06-26 16:24] AKryukov92 commented on #32
When you press esc you go to main screen. Once there, you can use "load" button to resume game.
Though, It is possible to let the game to "resume". To do this, we need two sprites for button "resume". One for "up" state" and one for "down" state.

[2017-06-26 16:32] #29 closed, assigned to nobody

[2017-06-26 16:38] AKryukov92 opened #33 "Move property toolPower of Tool to configuration file"
At version 9b1158a, difference in speed between wood, stone and metal tools is hardcoded in java.
Speed of tool should be moved to configuration file "tools.json". It probably should replace existing property "power".

[2017-06-26 16:49] AKryukov92 opened #34 "Move property breakType of tile to TileType"
At version 9b1158a, tiles are grouped by break type in java code in file World.java
When this property will be moved to TileType, it will be possible to implement method "getBreakTicks(String toolQuality, Tool.ToolType toolType)"
It should be possible for any tile to be in multiple break type groups.
This approach will make tiles more configurable.

[2017-06-26 16:54] AKryukov92 opened #35 "Move speed modifier of tool type to configuration file"
At version 9b1158a, speed modifier of tool type (Axe, Shovel, Pick) is hardcoded in java in file World.java
This property should be converted to map with key as "breakType" of tiles and value is speed modifier of tool.
It should be possible to describe multiple different breakType's for any tool type.

[2017-06-26 16:58] AKryukov92 commented on #21
Blocked by #31 at this moment.

[2017-06-26 16:59] AKryukov92 commented on #9
I'm going to implement 1 solution in nearest future.

[2017-06-26 17:22] LordStephen77 commented on #32
@AKryukov92 Exact! you are right. In practice, the game is recharged.. In practice, the game is recharged.

I propose to create more beautiful aesthetic buttons so that everyone can change them all. If no one is willing, I will do it.

Thank you.

[2017-06-26 17:33] AKryukov92 opened #36 "Too large savegame"
At version 9b1158a, saving and loading is implemented by java serialisation API.
So newly created savegame size is around of 3Mb while the size of /res directory is about 300 Kb.
At this moment savegame contains classes, which doesn't need to be stored there.
For example:
* AwtSprite
* AwtEventsHandler

I suspect that png images are stored in savegame too.
Something must be done with this.

I thin

[2017-06-26 17:58] AKryukov92 commented on #36
I did an experiment in https://github.com/AKryukov92/DreamBlocks/commit/c2db21caf97590864dbb4a6933bb4ddc54df63a0
and the size of savegame decreased from 2977Kb to 1492Kb.

[2017-06-26 18:37] tobyplowy commented on #32
Why not just add two variants of the button
Pressed in and not pressed in
And just overlay the text (font) on top of the button
Now we are just make a 100 buttens but we can do with 2

[2017-06-26 18:38] tobyplowy commented on #32
Maybe also a highlight butten

[2017-06-26 19:10] AKryukov92 commented on #36
If you look to savegame with any hex editor, you'll see repeating pattern "71 00 7E 00 27".
It seems that it belongs to lighting engine. I'm not sure if the engine can be simplified at this moment. Though, all this lighting data can be calculated from all other savegame data.
There is no need to save it to file.

[2017-06-26 21:00] LordStephen77 commented on #36
I like how you think. I totally agree with your ideas.

Illumination is run disorderly in my opinion. It had to be run in a separate package to avoid confusion.

The savegame is really great indeed. JSon can be a very good choice, it is a versatile and easy to manage format.

[2017-06-27 03:52] Gerold55 opened #37 "Mapgen"
Better mapgen more biomes.

[2017-06-27 06:25] AKryukov92 commented on #37
My thoughts about mapgen.
Biome is made of several layers of different tiles:
* Air
* Dirt
* Stone
* Adminium

So you need to pick 3 functions, that will represent border between any two adjacent layers: air-dirt, dirt-stone, stone-adminium.
For example y=6*(sin(x/8)+sin(x/6)+sin(x/2))+5 might work for air-dirt border for hills biome.
While y=sin(x/10)+sin(x/2)+sin(x/14) might go for air-dirt bord

[2017-06-27 09:05] AKryukov92 opened #38 "Inventory layout"
Crafting guide is needed to let people know what recipes exist in the game.

[2017-06-27 09:19] LordStephen77 commented on #38
it's true. I did not do it because the recipes are the same as Minetest and Minecraft. But it's a good idea.

[2017-06-27 09:39] AKryukov92 commented on #38
Even if we are going to stick with MC and MT recipes, we need to show that recipes we have _not_ implemented yet.
For example there is no furnace at this moment.

I'm asking @tobyplowy to draw layout of crafting guide.

[2017-06-27 09:43] AKryukov92 commented on #24
I'm all for using .ttf It will make implementation of buttons more flexible.

@tobyplowy Please add a :open crafting guide" button to inventory layout.

[2017-06-27 11:14] LordStephen77 commented on #38
@AKryukov92 Toby is our only hope! I work on the website, I've improved it a lot. I can not even deal with graphic content.

@tobyplowy Toby takes away all your creativity :)

[2017-06-27 15:33] tobyplowy commented on #38
@LordStephen77 dount fear Toby is here! No but really thanks for the kind words it means alot!

@AKryukov92 yes will do :)

[2017-06-27 15:47] tobyplowy commented on #24
@AKryukov92 there you go
![screenshot-_33_](https://user-images.githubusercontent.com/16853304/27596716-a576f710-5b60-11e7-86df-6f83f063621d.png)

[2017-06-27 15:59] tobyplowy commented on #38
![screenshot-_33_ - kopie](https://user-images.githubusercontent.com/16853304/27597350-5d6d4b16-5b62-11e7-9513-9f72e0018c6d.png)

[2017-06-27 16:00] AKryukov92 commented on #24
I don't understand what are those 4 cells in top-right corner. Why you grouped them with crafting guide together?

[2017-06-27 16:06] tobyplowy commented on #38
![screenshot-_33_ - kopie](https://user-images.githubusercontent.com/16853304/27597657-485e9aa8-5b63-11e7-96c3-16fd7823344d.png)

[2017-06-27 16:10] tobyplowy commented on #24
those were in the original gui so i added them
i think its for armor

i grouped them together for astethic reasons otherwise it looks odd

[2017-06-27 16:11] tobyplowy commented on #24
also craft guide gui
![screenshot-_33_ - kopie](https://user-images.githubusercontent.com/16853304/27597889-07c526f0-5b64-11e7-8383-9941598e3616.png)

[2017-06-27 16:29] AKryukov92 commented on #38
In this layout it is unclear how recipe should be drawn.

[2017-06-27 16:31] AKryukov92 commented on #24
I'm asking because button "open crafting guide" looks like a place for armor.

[2017-06-27 16:37] tobyplowy commented on #38
@AKryukov92 let me explain my idea
all the slots shuld have a item or Block in them if you click on that item or Block it will bring you back to the craft grid (inventory or crafting table) and it shows you a transparant overlay on the craft grid of the selected crafting recipe you just put the correct stuff in and haza it's done

Is this a good idea or shuld I redesign?

[2017-06-27 16:41] AKryukov92 commented on #38
I'v got your idea. But why transparent overlay?
When player clicks on item or block, it is possible to open inventory, check backpack for resources and place them to crafting grid.

[2017-06-27 16:42] tobyplowy commented on #24
The 4 slots are for armor and the one button with the 9 squares is craft guide

Shuld I remove the armor slots?

[2017-06-27 16:45] AKryukov92 commented on #38
By the way, I would like to know which recipes I can craft at this moment.
There should be a way to tell player: "you can craft this recipe now".

[2017-06-27 16:46] tobyplowy commented on #38
Because if it's not transparent People May think it's already in the Slots and they will get frustrated and confused

[2017-06-27 16:48] AKryukov92 commented on #24
I am sure that you shouldn't group armor with "crafting guide button".
As long as armor is not implemented, in the game there will be no visible slots. But we need to know where they will be located.

[2017-06-27 16:48] tobyplowy commented on #38
Yes maybe make the items in the craft guide that you can't craft (Because you don't have the Resources ) have a Red outline or overlay?

[2017-06-27 17:06] AKryukov92 commented on #38
1. When user fills crafting grid with transparent overlay, there should be a simple way to remove this overlay. Will you make additional button in the inventory?
2. Red outline will work good if you just say player "you can't craft this". But it doesn't explain the reason.
Player will need to click this recipe, look to overlay and then check "what else recources I need?".
3. How to display furnace

[2017-06-27 17:07] AKryukov92 commented on #36
I think it is enough at this moment on this task. I'll make additional tasks about lighting engine.

[2017-06-27 17:14] tobyplowy commented on #38
![nassssamloos](https://user-images.githubusercontent.com/16853304/27600578-b87fc31c-5b6c-11e7-9361-8744ed8e6118.png)

[2017-06-27 17:26] AKryukov92 commented on #38
Please answer to my previous message.

[2017-06-27 18:00] AKryukov92 commented on #36
I don't really like this solution, but it decreased size of savefile with "mini" world from 1492 Kb to 391 Kb.
Though, it is good enough to show unnecesarry dependencies in code. They should be optimized anyway.

[2017-06-27 18:16] AKryukov92 commented on #36
Further improvement in size is around of class Constants. implementation of #8 might help.

[2017-06-27 18:30] tobyplowy commented on #38
Yes I will add that

If You Hover over an item with Red outline it should show a tool tip that says the reason like you don't have the correct items for this or you need a furnace or crafting table for this or you need a hier experience level To make this

You need to be in the furnace otherwise It will not work If You click on the recipe (if you are in a crafting table and you try this it should

[2017-06-27 19:11] AKryukov92 commented on #38
What about of displaying all required resources in crafting guide?
In this case you could mark missing resources by the red outline. No tooltip, no transparent overlays required.

What is the reasoning behind current layout?

[2017-06-27 19:15] AKryukov92 commented on #38
Sorry. I missed the button on my phone.

[2017-06-27 19:16] tobyplowy commented on #38
I don't really understand That question
Are you asking me to add a crafting grid to the crafting guide to show required resources?
(That shuld happen in the crafting table)

[2017-06-27 19:16] tobyplowy commented on #38
Yes that Command and close butten is evil! :D

[2017-06-27 19:23] AKryukov92 commented on #38
Yes. I think we should see different options before we choose any.

[2017-06-27 19:27] tobyplowy commented on #38
@AKryukov92 ok but this reduses space on the craft guide

[2017-06-27 19:29] tobyplowy commented on #38
![screenshot-_33_ - kopie](https://user-images.githubusercontent.com/16853304/27606214-b441d50c-5b7f-11e7-8bb1-b72dc1fb8269.png)

[2017-06-27 19:30] tobyplowy commented on #38
NOTE the crafting grid shuld cange depending on what you select

[2017-06-27 19:31] AKryukov92 commented on #32
There was a bug with this menu: when you click anywhere on the screen in main menu, the game closes. It should be fixed in https://github.com/DreamBlocks/DreamBlocks/commit/0e2f20bbbeb126bb60c69af6f267b1eb5c53cfb9

[2017-06-27 19:36] tobyplowy commented on #38
i moved caft guide button i added a trash slot this dhuld remove whats inside
and i added a clear craft overlay button
![screenshot-_33_](https://user-images.githubusercontent.com/16853304/27606428-82578392-5b80-11e7-9f0f-c49b0329d496.png)

[2017-06-27 19:41] AKryukov92 commented on #38
Dont forget that crafting grid can be 3x3 in workbench. It should not look too different.

[2017-06-27 19:42] tobyplowy commented on #38
Yes thats why I made it the way I did in the first picture

[2017-06-27 19:43] tobyplowy commented on #38
but it works with a 3x3
![screenshot-_33_](https://user-images.githubusercontent.com/16853304/27606720-a7a8a968-5b81-11e7-8d53-1012ca94c72f.png)

[2017-06-27 19:51] AKryukov92 commented on #38
Will selected item (result of the recipe) be highligted or be drawn near grid?
Advantages of second layout of crafing guide
* It is possible to make button "place resources to table". I'm not sure if this needs to be implemented. What is the purpose of crafting grid if we can skip placing items there?
* It is easier to show which resources player needs to create an item.
* If you are interested in

[2017-06-27 19:53] tobyplowy commented on #38
I think it's best to have it highligted

[2017-06-27 19:54] tobyplowy commented on #38
Will you program all this code?

[2017-06-27 19:57] AKryukov92 commented on #38
Probably. I'm not sure if it will be soon. There are some other inventory issues blocking this work.

[2017-06-27 20:09] AKryukov92 commented on #24
One more thing that I don't like in MC and MT is that you need to click thousand times to process all resources. There are shift+click combinations, but they are not obvious. What are yours proposal regarding this?

[2017-06-27 20:13] tobyplowy commented on #24
@AKryukov92 I think it is fine (as long as there if shift+click) maybe you can add a tooltip if you hover over the create slot saying that you can shift+click to make more?

[2017-06-27 22:01] LordStephen77 opened #44 "NewGameMenu + StartMenu"
The game menu is divided into two very similar classes: NewGameMenu and StartMenu. The main game menu is divided into 2 different phases:

- Home screen
- Second screen after pressing the "new" button.

I would like to unify the NewGameMenu and StartMenu class to simplify the customization of the game menu.

Or I can post comments to the code to remember all the steps.

New collaborators reading r

[2017-06-28 04:21] AKryukov92 commented on #44
What exactly do you want to customize and unify?
What is common in those two menu?
Why do you want additional package? They already in "com.lordstephen77.dreamblocks.ui".

[2017-06-28 04:52] AKryukov92 commented on #38
How "search for item" should behave? What text player should type there?

[2017-06-28 06:19] AKryukov92 commented on #31
I am going to implement this in nearest future.

[2017-06-28 07:39] tobyplowy commented on #38
@AKryukov92 well for example if you type pickaxe you see all crafteble pickaxes or if you type diamond pickaxe you only find a diamond pickaxe

You can also lookup stick and you will find stick

Its the same like in Minetest creative menu (item search)

[2017-06-28 07:40] tobyplowy commented on #38
You should be able to type and find everything

[2017-06-28 07:51] tobyplowy commented on #38
Yes that is a good thing

Bdw I never use a craft guide because I don't need it but some people do so we need to add it :)

[2017-06-28 07:52] tobyplowy commented on #38
Also what do you think of my gui (Graphic user interface) style

[2017-06-28 08:20] AKryukov92 commented on #21
At this moment, method draw() takes screenWidth and screenHeight as parameters.
99% of the time, those values will be the same.
But at this point, all x and y are calculated from the scratch using those values on each redraw..

I think there should be method "resize" which will update x, y of all drawable entities in Inventory.
Then in method "draw" it will be possible to use previously calculated

[2017-06-28 12:04] LordStephen77 commented on #44
@AKryukov92 I solved! I just have to put comments on the code to make it more understandable. Now I work on the main menu, I want to put the new buttons I've drawn, and apply the resume button when I press ESC.

[2017-06-28 17:14] AKryukov92 commented on #44
I don't think that comments like "Size inventory panel and block cells" add much to code.
First of all, field "tileSize" do not define actual size of whole panel.
Its size is defined by variables "panelHeight" and "panelWidth", which names are very obvious.
Comment "Size inventory panel and block cells" is misleading.

Comment in this line `private int tileSize = 25; // Cells size` don't add much

[2017-06-28 18:51] LordStephen77 commented on #44
I put those comments for my convenience, I want to comment on the rest of the code, I needed to remember everything. My memory is not very good. I also found references to pointer and crafting, I have to work calmly, I put everything flat.

Do not mind these things, I only take small notes to help remind me of what has been done in the past.

[2017-06-28 20:02] AKryukov92 commented on #7
I have checked this work. Everything seems to be ok.

[2017-06-28 20:02] #7 closed, assigned to nobody

[2017-06-28 20:57] AKryukov92 commented on #31
Class InventorySlot should contain fields:
* InventoryItem source
and methods:
* public void draw(GraphicsHandler g, int x, int y, int tileSize, int seperation)
* public void handleLeftClick(InventoryItem holding)
* public void handleRightClick(InventoryItem holding)

Methods should be taken from existing class InventoryItem.

Following fields should be added to class Inventory:
* InventorySlot[][

[2017-06-29 04:54] raymoo opened #56 "Networked multiplayer"
Is networked multiplayer support planned?

[2017-06-29 09:24] LordStephen77 commented on #56
In the future you will. For now it is not our next goal.

[2017-06-29 10:32] AKryukov92 commented on #56
I am all for creating multiplayer. It will require some concurrent messaging framework and data storage, because I don't want to reinvent so complex wheel.

[2017-06-29 10:52] LordStephen77 commented on #56
@AKryukov92 The solutions:

Convert the project to libGDX, so it will be much easier to develop the project.

Search and find a useful library to implement messaging and developing a multiplayer system.

DreamBlocks is written with the standard Java library, which will make the project more and more complex in the future.

What do you suggest to do? I rely on your experience.

[2017-06-29 18:43] AKryukov92 commented on #56
I checked libGDX site and found no information about networking support.

After some googling I have found:
* https://netty.io/
* https://javaee.github.io/grizzly/
* https://github.com/EsotericSoftware/kryonet
* https://mina.apache.org

Most of them provide similar functionality. Netty and grizzly are present in gradle repository to download.
Kryonet feature is serialisation framework in the same

[2017-06-29 21:18] LordStephen77 commented on #56
Very interesting. I hear Kryonet many times in other projects and it is very widespread. I do not mean networking, but your research is interesting.

I would like to remove the external timer.jar and gson.jar library unfortunately I do not know good frames working with the standard java library.

Your advice, LWJGL is a very powerful and vast framework (many modules) do you think can come back to

[2017-06-30 18:24] AKryukov92 commented on #24
I have found a site with open source pixel fonts.
What about:
*  disposable droid http://www.1001fonts.com/disposabledroid-bb-font.html
* pixel FJVerdana http://www.1001fonts.com/pix-pixelfjverdana12pt-font.html
* Munro https://www.fontsquirrel.com/fonts/Munro

[2017-06-30 18:37] AKryukov92 opened #62 "Limit interactions with all data classes to limited number of methods"
At version 419d246, lots of classes contains game data and drawing methods.
If we are going to make networking implementation, then game data classes should not contain drawing classes and methods. Server don't need to draw anything anywhere.
Server should be able to receive determined commands, process them in the world and send updates to all who is interested.

I consider "game data" following

[2017-06-30 19:49] tobyplowy commented on #24
@AKryukov92 I like Munro most

[2017-07-01 13:37] AKryukov92 commented on #17
After some experiments, I have decided that this project at this state seems to be too complex for beginners.
I'll switch to synthetic tasks for them. Please do not be constrained in choosing of any additional library for it.

[2017-07-01 16:34] AKryukov92 opened #66 "More fun things in the world"
At version 5291070, it is very easy to add subroutine, which will populate world with things like trees and water.
Just follow those steps:
* create class SomethingFiller in package com.lordstephen77.dreamblocks.fillers
* extend class WorldFiller
* implement constructor matching super
* implement method fill()
* Instantiate SomethingFiller in constructor of class World and call fill()

At version

[2017-07-01 23:15] Gerold55 commented on #38
Would it be possible 2 make it so the inventory grid has an outline so you can distinguish between crafting grid and inventory grid? Or make it so that there's a little bit more room in between them and also could there be an option of autocrafting? I could come up with a concept design in a little bit.

[2017-07-01 23:16] Gerold55 commented on #38
Could also make crafting guide an option so add a button to turn it on and off in the menu b4 u start a world and in the options menu when in the world

[2017-07-02 08:18] AKryukov92 commented on #38
Both things are possible. But ,first of all they should be drawn in a picture.
At this moment, there are no "options" dialog. As long as we have only one option, it is better to place it in the dialog where player chooses world size.

[2017-07-02 08:19] Gerold55 commented on #38
Well 4 options u could add volume rocker and gui size rocker

[2017-07-02 12:08] Gerold55 commented on #38
@tobyplowy shouldn't the button 4 the craft guide be in the same position when in inventory also?

[2017-07-02 12:19] Gerold55 commented on #38
![menu](https://user-images.githubusercontent.com/13843095/27769758-2cfec1a8-5eff-11e7-9e89-36c07909d5a7.png)

[2017-07-02 13:07] tobyplowy commented on #38
That may be hard to achieve (it will probably reduce space on the GUI)

[2017-07-02 13:09] tobyplowy commented on #38
@Gerold55 Nice menu!

Now just the pixel text and it's perfect also maybe remove the hot bar

[2017-07-02 13:12] Gerold55 commented on #38
Yeah I know it's just a proof of concept.

[2017-07-02 13:13] Gerold55 commented on #38
@tobyplowy is it possible to make it so it's a bit easier 2 distinguish between the crafting grid and the inventory space?

[2017-07-02 13:18] tobyplowy commented on #38
I will look into that later

Will you program that?

[2017-07-02 13:52] Gerold55 commented on #38
I don't know how to code in Java I'm more of an artist and an imager I can come up with some ideas and run it past u and do concept art 4 said ideas

[2017-07-02 15:51] LordStephen77 commented on #38
Achievements?!?

[2017-07-02 15:52] Gerold55 commented on #38
Just a suggestion eventually tho something similar 2 minecraft

[2017-07-02 17:03] AKryukov92 commented on #38
Guys. Please keep your proposed visual layouts closer to actual state of the game.

I agree that crafting grid in inventory layout should be separated from backpack.

[2017-07-02 17:05] AKryukov92 commented on #24
Discussion continues here https://github.com/DreamBlocks/DreamBlocks/issues/38
There are latest version of inventory layout.

[2017-07-02 17:05] #24 closed, assigned to nobody

[2017-07-02 17:07] AKryukov92 commented on #38
@LordStephen77 what do you think about Munro font? It is free and @tobyplowy liked it.
https://www.fontsquirrel.com/fonts/Munro

[2017-07-02 17:12] Gerold55 commented on #38
Would it b possible to create "our" own font?

[2017-07-02 17:14] Gerold55 commented on #38
@LordStephen77 we know that it is way ahead but you need to plan ahead sometimes and to get features planned and ready 2 b implemented

[2017-07-02 18:30] AKryukov92 commented on #38
Why would you want to create your own font?
I am agree, that we should plan ahead. But making single button "achievements" is not a planning.
When you make detailed description of achievements, visual layout of achievements screen and all associated art, then it will make sense to add a button to menu.

[2017-07-02 18:31] Gerold55 commented on #38
I added the button because it's a concept art I'll work on some more concept art soon for the achievements

[2017-07-02 18:44] AKryukov92 commented on #38
Please add to concept of the button images of "hover" state (when you point it with mouse)

[2017-07-02 18:45] Gerold55 commented on #38
It should be the same as the menu because I used those buttons

[2017-07-03 10:46] Gerold55 commented on #38
![achievements](https://user-images.githubusercontent.com/13843095/27789651-5d6855a4-5fbb-11e7-8849-d7b925bf32d8.png)

[2017-07-03 15:37] AKryukov92 commented on #38
You need to describe your concepts. What is it?

[2017-07-03 16:16] Gerold55 commented on #38
@AKryukov92 oops sry bout that. That's the achievements panel needs some work done still but was hoping @tobyplowy could tweak it so it matched the theme of the other inventories

[2017-07-03 18:55] tobyplowy commented on #38
@Gerold55 yup will do later

[2017-07-03 21:40] tobyplowy commented on #38
@AKryukov92 @LordStephen77 is it worth my time to make the GUI for achievements

[2017-07-03 21:42] Gerold55 commented on #38
@tobyplowy 2 me eventually it could be a feature a concept is good for eventually because right now a simple achievements could be could

[2017-07-04 10:06] AKryukov92 opened #68 "Achievements"
If we are going to implement achievements, then we should discuss why would we want to add them?
Think of at least 10 examples of achievements.
Will there be repeatable achievements?
Will achievements give player any rewards like items, special blocks?

I'd recommend to draw layouts only after we discuss those questions.

[2017-07-05 23:31] tobyplowy commented on #68
@AKryukov92 in my opinion achievements Are Awesome it adds More gameplay to the game that you have already completed
They also Challenge The Player with hard tasks that They would Never Try Without achievements like kill all bosses in the game 2 times
(I would never do such a thing but if there's an achievement for it I may consider it)

But if achievements get added they should add more than just

[2017-07-16 16:24] raymoo opened #71 "Better textures"
16x16 material-ey textures do not work ok in 2D like they do in 3D, because there is nothing to give them depth.

Some suggestions:
 - Shape nodes to look like what they are, not just flat squares of texture. For example, tree leaves could be made solid (touching the edges) only where they connect to other tree leaves, and otherwise should have some transparent margin where they have a bushy outli

[2017-07-16 16:28] raymoo commented on #36
An option on top of these other options is to compress the save data. compressed JSON could work well, or whatever other format you choose. Minetest save mapblock data compressed for each mapblock.

[2017-07-17 21:43] AKryukov92 commented on #71
Thank you for your feedback.
* Different look of nodes, depending on adjacent blocks seems like good feature. Though this look needs to be drawn and configured. I have seen such feature in Battle for Wesnoth and description of aligned look seems to be very complex.
* I don't know why current resolution has been chosen. So I think it is a subject of discussion with @LordStephen77. It is ok as it is

[2017-07-18 01:19] raymoo commented on #71
I'm not that good of an artist, all I can do is say that I think the current sprites look bad.

[2017-07-18 14:03] RodrigueLemaire commented on #71
that true, but ithink they are only temporary as @tobyplowy did good ones.

[2017-07-18 15:38] tobyplowy commented on #71
@azekillDIABLO thanks also I'm not sure if my textures will be used it all depends on what @LordStephen77 thinks

[2017-07-18 16:59] AKryukov92 commented on #71
@tobyplowy You can just change textures and commit them. No additional coding is required.
I did an experiment with changing sprite of "dirt".

Dirt before
![image](https://user-images.githubusercontent.com/24266616/28329712-954dab4c-6c0c-11e7-88ed-978387a2722b.png)
Dirt after
![image](https://user-images.githubusercontent.com/24266616/28329652-5f6ad84c-6c0c-11e7-86ee-e874bbeb4969.png)
I will not

[2017-07-18 17:02] tobyplowy commented on #71
Yeh what about the random Textures :/

[2017-07-18 19:20] AKryukov92 commented on #71
Hey. Noone has menthioned random textures before. Why would you want to do them?

[2017-07-18 19:37] AKryukov92 commented on #36
Game data now is in java standard serialisation format. It is binary. I doubt if any text format would be any better in terms of size.
I see several other issues here:
* compatibility of savefiles. If I change data classes, then java will not be able to deserialise data correctly
* unnecessary data. There is only one way to control which data would be stored - limit amount of references between ga

[2017-07-18 20:30] tobyplowy commented on #71
yes I did in the first project same issue I posted the dirt textures I made
(I can't find it back @LordStephen77 probably removed it)

Because a game like this looks terrible without random textures

[2017-07-19 05:56] #8 closed, assigned to nobody

[2017-07-19 06:01] AKryukov92 commented on #71
@tobyplowy Make and commit at least two examples of random textures for any tile and I will implement all required code in next two days after commit.
There are some problems in implementing inventory layout, but this thing much easier.

[2017-07-19 11:38] tobyplowy commented on #71
@AKryukov92 i already did on the other page (I made dirt and stone) can you find that issue or is it gone?
(I probably still have them on my PC but im not sure) also if I need to make new tiles I will have to have a system to fallow perhaps we can design it together (that would be useful for me bdw I can only give ideas I can't program)

[2017-07-19 15:34] AKryukov92 commented on #71
@tobyplowy Please be more autonomous. I don't know where to search for your dirt and stone.
Find your images, commit them to repository and make pull request yourself.

What do you mean by "system to fallow"? I'm little sceptical about it.

Main point of this thread: There should be more detailed textures.
Can you just add more details to current images without need of introducing new systems?

[2017-07-19 18:46] #13 closed, assigned to nobody

[2017-07-19 19:11] #6 closed, assigned to nobody

[2017-07-19 19:32] tobyplowy commented on #71
grass
![grass](https://user-images.githubusercontent.com/16853304/28385776-990b4fec-6cc9-11e7-931d-a2078239b866.png)
dirt
![dirt](https://user-images.githubusercontent.com/16853304/28385780-9930c0e2-6cc9-11e7-8b28-989a3348e25c.png)
stone
![stone](https://user-images.githubusercontent.com/16853304/28385778-9919b7ee-6cc9-11e7-8675-74db727095b8.png)
cobblestone
![cobblestone](https://user-images.gith

[2017-07-19 19:34] tobyplowy commented on #71
Yes but it's too repetitive and boring that's why there should be randomized textures bdw I posted them above

[2017-07-19 19:41] AKryukov92 commented on #71
@tobyplowy  Don't post here your work. Check that game looks good, commit and then make pull request.
I will not do anything with sprites you attach to this thread.
It is up to you to add them to the repository in correct format.

[2017-07-19 19:42] tobyplowy commented on #71
@AKryukov92 i cant program so i cant properly add them

[2017-07-19 19:43] AKryukov92 commented on #71
@tobyplowy  You don't need to code. just replace existing images in repository. Or add them, if they are variants of random textures.

[2017-07-19 19:45] tobyplowy commented on #71
@AKryukov92 yes but how do i get the random textures and tiling

[2017-07-19 19:47] AKryukov92 commented on #71
@tobyplowy as I said before. I'll implement randomisation of tile textures in two days after you commit them.
I said nothing about tiling, though. What is it?

[2017-07-19 19:59] tobyplowy commented on #71
it makes the edges nice
![tile example](https://user-images.githubusercontent.com/16853304/28386923-776ed882-6ccd-11e7-98e4-aee45c2be330.png)

[2017-07-19 20:01] tobyplowy commented on #71
so do i just replace the curent ones with this (that will probably brake the game if theres no prober system)
![grass](https://user-images.githubusercontent.com/16853304/28386983-a679fbac-6ccd-11e7-9bab-acdeb60cb4ad.png)

[2017-07-19 20:14] tobyplowy commented on #71
@AKryukov92 there https://github.com/DreamBlocks/DreamBlocks/pull/73

[2017-07-19 20:15] AKryukov92 commented on #71
Each tile image should be in separate file with similar name.
Like dirt.png, dirt1.png and so on.
Check the game look after your changes. It should not change or become better.

[2017-07-19 20:21] tobyplowy commented on #71
@AKryukov92 is this good? https://github.com/DreamBlocks/DreamBlocks/pull/74

[2017-07-19 20:33] AKryukov92 commented on #71
No

[2017-07-19 20:44] tobyplowy commented on #71
@AKryukov92 Ok whatever I'm very tred and I need sleep it's hard to think straight :/

[2017-07-22 13:05] #31 closed, assigned to nobody

[2017-08-01 10:05] RodrigueLemaire commented on #71
@tobyplowy don't care it's nice work! tiling is very nice!

[2017-09-21 19:59] tobyplowy commented on #71
@LordStephen77 what do you think?

[2017-11-02 17:12] yellowberryHN opened #78 "Improved controls"
At its current state, the cursor controls are very confusing and difficult to use. It seems like it points in the opposite direction I want it to, all the time.

[2017-11-18 17:00] LordStephen77 commented on #78
@YellowberryHN Yes you are right. The project is undergoing improvement. As soon as I can finish the new release with all the fixes and improvements the audience. The pointers originally served during debugging, then left. In the current version the pointer is only one and serves as a box-selector.

Thanks for your advice.